In [1]:
import pandas as pd
import numpy as np

In [2]:
datapath = "./car_price_prediction.csv"

In [3]:
df = pd.read_csv(datapath)

In [4]:
print(f"There is {df[df['Levy'] == '-'].shape[0]} records that have the value (-) in Levy column\nThat's a {round(df[df['Levy'] == '-'].shape[0] / df.shape[0] * 100)}% of the dataset")

There is 5819 records that have the value (-) in Levy column
That's a 30% of the dataset

In [5]:
df.replace('-',np.nan,inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              13418 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB

In [7]:
df

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,NaN,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,NaN,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,45778856,15681,831,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
19234,45804997,26108,836,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
19235,45793526,5331,1288,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
19236,45813273,470,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

In [8]:
total = df.isnull().sum().sort_values(ascending=False)
percent_1 = df.isnull().sum()/df.isnull().count()*100
percent_2 = (round(percent_1,1)).sort_values(ascending = False)
missing_data = pd.concat([total,percent_2],axis=1, keys=['Total','%'])
missing_data.head(5)

         Total     %
Levy      5819  30.2
ID           0   0.0
Mileage      0   0.0
Color        0   0.0
Wheel        0   0.0

In [9]:
df['Levy'].describe()

count     13418
unique      558
top         765
freq        486
Name: Levy, dtype: object

In [10]:
df['Levy'].replace(to_replace= np.nan,value=765,inplace=True)

In [11]:
df['Levy']=df['Levy'].astype(float)

In [12]:
df['Price']=df['Price'].astype(float)

In [13]:
df['Mileage'] = df['Mileage'].str.replace('km', '').astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  float64
 2   Levy              19237 non-null  float64
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  int32
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(3), int32(1), int64(3), object(11)
memory usage: 2.6+ MB

In [15]:
df['Prod. year'].value_counts()

Prod. year
2012    2155
2014    2124
2013    1963
2011    1612
2015    1549
2010    1483
2016    1476
2017     959
2008     737
2009     601
2018     500
2007     464
2005     402
2003     367
2004     364
2006     317
2019     306
2002     296
2000     279
2001     254
1998     213
1999     207
1997     151
1996     114
1995     105
2020      47
1994      42
1992      30
1993      23
1990      18
1988      12
1991      10
1986       6
1989       6
1987       5
1984       5
1985       5
1953       4
1983       3
1939       3
1978       2
1980       2
1965       2
1977       2
1974       2
1964       2
1943       1
1976       1
1957       1
1968       1
1947       1
1982       1
1981       1
1973       1
Name: count, dtype: int64

In [16]:
df['Prod. year'].max()

2020

In [17]:
for dataset in [df]:
    dataset.loc[dataset['Prod. year'] <= 2000, 'Prod. year'] = 0
    dataset.loc[(dataset['Prod. year'] > 2000) & (dataset['Prod. year'] <= 2005), 'Prod. year'] = 1
    dataset.loc[(dataset['Prod. year'] > 2005) & (dataset['Prod. year'] <= 2010), 'Prod. year'] = 2
    dataset.loc[(dataset['Prod. year'] > 2010) & (dataset['Prod. year'] <= 2015), 'Prod. year'] = 3
    dataset.loc[(dataset['Prod. year'] > 2015) & (dataset['Prod. year'] <= 2020), 'Prod. year'] = 4

In [18]:
df['Prod. year'].value_counts()

Prod. year
3    9403
2    3602
4    3288
1    1683
0    1261
Name: count, dtype: int64

In [20]:
# create new derived column 'Turbo' from values that have ('Turbo') in 'Engine volume'
df['Turbo'] = np.where(df['Engine volume'].str.contains('Turbo'), 'Yes', 'No')

# extract numeric part from 'Engine volume' and convert it to float type
df['Engine volume'] = df['Engine volume'].str.extract('(\d+)').astype('float64')

In [21]:
df = df.rename(columns={'Mileage': 'Mileage(Km)'})

In [22]:
df

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage(Km),Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,Turbo
0,45654403,13328.0,1399.0,LEXUS,RX 450,2,Jeep,Yes,Hybrid,3.0,186005,6.0,Automatic,4x4,04-May,Left wheel,Silver,12,No
1,44731507,16621.0,1018.0,CHEVROLET,Equinox,3,Jeep,No,Petrol,3.0,192000,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8,No
2,45774419,8467.0,765.0,HONDA,FIT,2,Hatchback,No,Petrol,1.0,200000,4.0,Variator,Front,04-May,Right-hand drive,Black,2,No
3,45769185,3607.0,862.0,FORD,Escape,3,Jeep,Yes,Hybrid,2.0,168966,4.0,Automatic,4x4,04-May,Left wheel,White,0,No
4,45809263,11726.0,446.0,HONDA,FIT,3,Hatchback,Yes,Petrol,1.0,91901,4.0,Automatic,Front,04-May,Left wheel,Silver,4,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467.0,765.0,MERCEDES-BENZ,CLK 200,0,Coupe,Yes,CNG,2.0,300000,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5,Yes
19233,45778856,15681.0,831.0,HYUNDAI,Sonata,3,Sedan,Yes,Petrol,2.0,161600,4.0,Tiptronic,Front,04-May,Left wheel,Red,8,No
19234,45804997,26108.0,836.0,HYUNDAI,Tucson,2,Jeep,Yes,Diesel,2.0,116365,4.0,Automatic,Front,04-May,Left wheel,Grey,4,No
19235,45793526,5331.0,1288.0,CHEVROLET,Captiva,2,Jeep,Yes,Diesel,2.0,51258,4.0,Automatic,Front,04-May,Left wheel,Black,4,No
19236,45813273,470.0,753.0,HYUNDAI,Sonata,3,Sedan,Yes,Hybrid,2.0,186923,4.0,Automatic,Front,04-May,Left wheel,White,12,No

In [23]:
np.unique(df['Wheel'])

array(['Left wheel', 'Right-hand drive'], dtype=object)

In [24]:
# standardize the values in 'Wheel'
df['Wheel'].replace({'Left wheel' : 'Left', 'Right-hand drive' : 'Right'}, inplace=True)